* {
    /* Css reset, remover estilo padrão do navegador */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #32312d;
    font-weight: 400;
    font-size: 1.4vw;
    font-family: 'SoDo Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;

}

:root {
    --Header-Footer_bg: #F8F8FF;
    --Header-Footer_shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);

    --Container_bg: rgb(152, 246, 207);
    --Nav_Hover: rgb(0, 92, 128);

    /* button colors */

    --white: white;
    --black: black;

    /* footer border */
    --footer_border_color: rgb(79, 79, 79);
}

/* Header */

header {
    background: var(--Header-Footer_bg);
    height: 100px;
    width: 100%;

    box-shadow: var(--Header-Footer_shadow);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

header .logo {
    height: 70px;
    margin-left: 20px;
    margin-right: 40px;
}


/* navigation */

header nav {
    margin-top: 35px;
    display: flex;
    height: 100%;
}

header nav ul {

    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    height: 100%;
}

header nav ul li {
    margin-right: 20px;
    margin-bottom: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    cursor: pointer;
    user-select: none;
}


/* Defaut button */
.button {
    background: none;
    border: 1px solid var(--black);
    border-radius: 50px;
    box-shadow: none;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 7px 16px;
    background: var(--white);

    margin-left: 20px;
    transform: scale(1);
    cursor: pointer;

    text-decoration: none;
    color: var(--black);

    transition: all .2s ease;


}

.button.transparent {
    background: transparent;
}

.button.black {
    color: var(--white);
    background: var(--black);
}

.button:hover {
    transform: scale(0.8);
    box-shadow: 10px 10px 15px -7px rgba(43, 3, 131, 0.75);
}

.button.margin {
    margin-left: auto;
    margin-right: auto;
}

/* Defaut margins */

.Margin-top {
    margin-top: 20px;
}

.Margin-bottom {
    margin-bottom: 20px;
}


/* header 2 */
.header-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 700px;
}

.header-2 .img-responsive {
    width: 15%;
    margin-right: 20px;
}

.header-2 .findstore p {
    margin-left: 5px;
}

.header-2 .findstore {
    display: flex;
    cursor: pointer;
}


/* Animations */

header nav ul li:hover {
    color: rgb(166, 30, 30);
}

.header-2 .findstore:hover {
    color: var(--Nav_Hover);
}


/* Main */

main {
    height: fit-content;
    width: fit-content;
}

/* defaut container */

.Container {

    background-color: var(--Container_bg);

    width: 1440px;
    height: fit-content;

    padding: 20px;

    text-align: center;

}

.Container .txt {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Container.flex {
    display: flex;
    justify-content: space-between;
}

.Container.flex p {
    font-size: 17px;
}

.Container.flex img {
    width: 50%;
    margin: 0;
}

.Container.nopadding {
    padding: 0;
}

/* Footer */

footer {
    background: var(--Header-Footer_bg);
    box-shadow: var(--Header-Footer_shadow);

    height: fit-content;

    border-top: 1px solid var(--footer_border_color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul {
    list-style-type: none;
}

footer ul.flex {
    display: flex;
}

footer ul.flex li {
    margin-left: 20px;
}

footer ul li {
    font-size: 14px;
    margin-top: 10px;
}

footer .infos {
    height: fit-content;
    width: 100%;

    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;

}

footer .icons {
    display: flex;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;
}

footer .icons li {
    margin-left: 20px;
}

footer .politicas {
    margin-bottom: 20px;
}

footer .o {
    font-size: 10px;
}


